.gradient {
    background-image: linear-gradient(to right, #ff9600, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .image-container:hover .image {
    filter: brightness(70%); /* Luminosité réduite pour l'effet sombre au survol */
  }